@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&display=swap");

#main-container {
    position: relative;
    overflow: hidden;
    background: #132e43;
    height: 100vh;
    width: 100vw;
    font-family: "Kanit", sans-serif;
}

.main-container__title,
#main-container__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    font-weight: 600;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(32, 190, 221),
        0 0 5px rgb(45, 173, 199);
    z-index: 2;
}

#main-container__text {
    top: 80%;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.main-container__title,
#main-container__text:hover {
    cursor: pointer;
}

#recipe_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: auto;
    z-index: 3;
    border-radius: 10%;
}

.loop-structure {
    position: absolute;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1;
}

.loop-1 {
    height: 800px;
    width: 800px;
    border-top: #53a9ba 2px solid;
    animation: rotateRight 2s infinite linear;
}

.loop-2 {
    height: 600px;
    width: 600px;
    border-right: #53a9ba 2px solid;
    animation: rotateRight 2s infinite linear;
}

.loop-3 {
    height: 400px;
    width: 400px;
    border-left: #53a9ba 2px solid;
    animation: rotateLeft 2s infinite linear;
}

.pulseTitle {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-title 0.5s infinite;
}

@keyframes pulse-title {
    0% {
        /* transform: scale(0.95); */
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(32, 190, 221),
            0 0 5px rgb(45, 173, 199);
    }

    70% {
        /* transform: scale(0.98); */
        text-shadow: 1px 1px 2px black, 0 0 50px rgb(32, 190, 221),
            0 0 10px rgb(45, 173, 199);
    }

    100% {
        /* transform: scale(0.95); */
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(32, 190, 221),
            0 0 5px rgb(45, 173, 199);
    }
}

.pulseLoop {
    /* background: rgba(52, 172, 224, 1); */
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-loop 0.5s infinite;
}

@keyframes pulse-loop {
    0% {
        /* transform: scale(0.95) rotate(0deg); */
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.5);
        transform: rotate(0deg);
    }

    25% {
        /* transform: scale(0.98); */
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0.3);
    }

    50% {
        /* transform: scale(0.98); */
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    75% {
        /* transform: scale(0.98); */
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0, 3);
    }

    100% {
        /* transform: scale(0.95) rotate(359deg); */
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.5);
        transform: rotate(359deg);
    }
}

@keyframes rotateRight {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes rotateLeft {
    0% {
        transform: rotate(359deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.speaking {
    border-color: red;
}

/* Modal Styles */

.overlay {
    position: absolute;
    top: -100vh;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    background-color: #1a405ee0;
    color: white;
    transition: all 0.8s;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    text-align: center;
}
.overlay .home-grid-container {
    height: 80vh;
    width: 80vw;
    display: grid;
    justify-items: center;
    align-items: baseline;
    grid-template-columns: 1fr;
}

#recipe_modal_img {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    max-height: 30vh;
    width: auto;
    /* z-index: 3; */
    border-radius: 10%;
}

.overlay .home-grid-container .home-grid-container__title {
    transition: all 0.5s;
    transition-delay: 0.8s;
    /* grid-column: 1/7; */
}
.overlay .home-grid-container .home-grid-container__title h1 {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 0;
}

.overlay .home-grid-container .home-grid-container__title p {
    color: white;
    font-size: 2rem;
}

.open {
    top: 0;
    left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.hide {
    opacity: 0;
}

.display {
    opacity: 1;
}
