@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&display=swap");

#main-container {
    position: relative;
    overflow: hidden;
    background: #132e43;
    height: 100vh;
    width: 100vw;
    font-family: "Kanit", sans-serif;
}

.main-container__title,
#main-container__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    font-weight: 600;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(32, 190, 221),
        0 0 5px rgb(45, 173, 199);
    z-index: 2;
}

#main-container__text {
    top: 80%;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.main-container__title,
#main-container__text:hover {
    cursor: pointer;
}

#recipe_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: auto;
    z-index: 3;
    border-radius: 10%;
}

.loop-structure {
    position: absolute;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1;
}

.loop-1 {
    height: 800px;
    width: 800px;
    border-top: #53a9ba 2px solid;
    animation: rotateRight 2s infinite linear;
}

.loop-2 {
    height: 600px;
    width: 600px;
    border-right: #53a9ba 2px solid;
    animation: rotateRight 2s infinite linear;
}

.loop-3 {
    height: 400px;
    width: 400px;
    border-left: #53a9ba 2px solid;
    animation: rotateLeft 2s infinite linear;
}

.pulseTitle {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-title 0.5s infinite;
}

@keyframes pulse-title {
    0% {
        /* transform: scale(0.95); */
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(32, 190, 221),
            0 0 5px rgb(45, 173, 199);
    }

    70% {
        /* transform: scale(0.98); */
        text-shadow: 1px 1px 2px black, 0 0 50px rgb(32, 190, 221),
            0 0 10px rgb(45, 173, 199);
    }

    100% {
        /* transform: scale(0.95); */
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(32, 190, 221),
            0 0 5px rgb(45, 173, 199);
    }
}

.pulseLoop {
    /* background: rgba(52, 172, 224, 1); */
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-loop 0.5s infinite;
}

@keyframes pulse-loop {
    0% {
        /* transform: scale(0.95) rotate(0deg); */
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.5);
        transform: rotate(0deg);
    }

    25% {
        /* transform: scale(0.98); */
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0.3);
    }

    50% {
        /* transform: scale(0.98); */
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    75% {
        /* transform: scale(0.98); */
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0, 3);
    }

    100% {
        /* transform: scale(0.95) rotate(359deg); */
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.5);
        transform: rotate(359deg);
    }
}

/* @keyframes pulse-loop {
    0% {
        transform: scale(0.95) rotate(0deg);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
        border: #53a9ba 2px solid;
    }

    13% {
        transform: scale(0.98);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    25% {
        transform: scale(0.95) rotate(359deg);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
    37% {
        transform: scale(0.95) rotate(0deg);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    49% {
        transform: scale(0.98);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    61% {
        transform: scale(0.95) rotate(359deg);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
    73% {
        transform: scale(0.95) rotate(0deg);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    85% {
        transform: scale(0.98);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95) rotate(359deg);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
} */

/* @keyframes pulse-blue {
    0% {
        transform: scale(0.99);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
        border: #53a9ba 2px solid;
    }

    25% {
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(52, 172, 224, 0);
    }

    50% {
        transform: scale(1);
        box-shadow: 0 0 0 100px rgba(52, 172, 224, 0);
    }

    75% {
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.99);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
        border: #53a9ba 2px solid;
    }
} */

@keyframes rotateRight {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes rotateLeft {
    0% {
        transform: rotate(359deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.speaking {
    border-color: red;
}
